.button1 {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.25rem; /* 100% */
  letter-spacing: 0.06944rem;
}
.body1 {
  font-size: 1.18056rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5625rem; /* 147.059% */
  letter-spacing: 0.00269rem;
}
.body2 {
  font-size: 1.11111rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.52778rem; /* 137.5% */
  letter-spacing: 0.00278rem;
}
.h6 {
  font-size: 1.80556rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.80556rem; /* 100% */
}
.h3 {
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 4.02778rem; /* 107.407% */
}
.h5 {
  font-size: 1.94444rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.22222rem; /* 114.286% */
}
.h4 {
  font-size: 2.36111rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.77778rem; /* 117.647% */
  letter-spacing: 0.0059rem;
}
.sub1 {
  font-size: 1.38889rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.80556rem; /* 130% */
  letter-spacing: 0.01736rem;
}
.sub2 {
  font-size: 1.18056rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.59722rem; /* 135.294% */
  letter-spacing: 0.01181rem;
}
.section-container {
  width: 79.2rem;
  margin-left: auto;
  margin-right: auto;
}
.fade-animation {
  animation: fadeInOut 7s infinite;
}
.fade-animation-delay {
  animation: fadeInOut 7s infinite;
  animation-delay: 3s;
}
.text-linear-gradient {
  background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0) 86.19%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@media screen and (max-width: 639px) {
  .section-container {
    width: calc(100% - 2.78rem);
  }
  .button2 {
    font-size: 1.11111rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11111rem; /* 100% */
    letter-spacing: 0.01111rem;
  }
  .body2-mb {
    font-size: 1.11111rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.52778rem; /* 137.5% */
    letter-spacing: 0.00278rem;
  }
  .body1-mb {
    font-size: 1.18056rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5625rem; /* 147.059% */
    letter-spacing: 0.00269rem;
  }
  .h6-mb {
    font-size: 1.80556rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.80556rem; /* 100% */
  }
  .h3-mb {
    font-size: 3.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: 4.02778rem; /* 107.407% */
  }
  .h5-mb {
    font-size: 1.94444rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.22222rem; /* 114.286% */
  }
  .h4-mb {
    font-size: 2.36111rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.77778rem; /* 117.647% */
    letter-spacing: 0.0059rem;
  }
  .sub1-mb {
    font-size: 1.38889rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.80556rem; /* 130% */
    letter-spacing: 0.01736rem;
  }
  .sub2-mb {
    font-size: 1.18056rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.59722rem; /* 135.294% */
    letter-spacing: 0.01181rem;
  }
}
